.logo {
  path {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    fill-opacity: 0;
    animation: drawLogoStroke 1.5s ease-in forwards,
      drawLogoFilling 0.6s ease forwards;

    @keyframes drawLogoFilling {
      to {
        fill-opacity: 1;
      }
    }

    @keyframes drawLogoStroke {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

  @for $i from 0 through 200 {
    path:nth-of-type(#{$i + 1}) {
      animation-delay: #{$i * 0.015}s;
    }
  }
}
